/* Réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base */
body {
    font-family: 'Pirata One', cursive;
    background-color: #0d3b66;
    background-image: url('one-piece-luffy-sunset-desktop-wallpaper-preview.jpg'); /* Fond océan */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin-bottom: 220px;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px; /* Ajustement pour espacer le titre de la barre de navigation */
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #FFD700;
    transition: color 0.3s, text-shadow 0.3s, text-decoration 0.3s; /* Ajout de la transition pour soulignement */
}

nav ul li a:hover {
    color: white; /* Changement de la couleur au survol */
    text-shadow: 0 0 5px rgb(245, 201, 3);
    text-decoration: underline; /* Soulignement au survol */
}

/* Titre principal */
h1 {
    font-size: 60px;
    color: #FFD700;
    text-shadow: 4px 4px black;
    margin-top: 20px;
}

/* Section d'animation */
#animation {
    margin-top: 50px;
    position: relative;
    height: 400px;
}

#luffy, #zoro {
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    animation: move 5s infinite alternate;
}

#luffy {
    background-image: url('https://i.imgur.com/OUvGv1Z.png'); /* Image de Luffy */
    left: 10%;
}

#zoro {
    background-image: url('https://i.imgur.com/m0GFzeX.png'); /* Image de Zoro */
    right: 10%;
}

/* Animation de mouvement */
@keyframes move {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50px);
    }
}

/* Footer */
footer {
    margin-top: 50px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}
